@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container-xs {
        max-width: 641px;
    }
}

.sidebar {
    &-collapsed {
        width: 6rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        .nav-link-text,
        .sidebar-title {
            display: none;
        }
    }

    &-expanded {
        width: 16rem;

        .nav-link-text,
        .sidebar-title {
            display: inline;
        }
    }
}

.header {
    &-expanded {
        margin-left: 256px;
    }

    &-collapsed {
        margin-left: 94px;
    }
}

// Transition for smooth movement
.transition-all {
    transition: all 0.3s ease;
}

div.dt-container {
    margin-bottom: 3em;
}

table.dataTable > tbody > tr > th,
table.dataTable > tbody > tr > td {
    border-width: 0 !important;
}

table.dataTable > thead > tr > th,
table.dataTable > thead > tr > td {
    padding: 10px;
    border-bottom: 0px !important;
}
